<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.goduck.kl.admin.mapper.SysRolePermissionMapper">
  <resultMap id="BaseResultMap" type="cn.goduck.kl.admin.entity.SysRolePermission">
    <!--@mbg.generated-->
    <!--@Table sys_role_permission-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="role_id" jdbcType="BIGINT" property="roleId" />
    <result column="permission_id" jdbcType="BIGINT" property="permissionId" />
    <result column="create_by" jdbcType="BIGINT" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_by" jdbcType="BIGINT" property="updateBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, role_id, permission_id, create_by, create_time, update_by, update_time
  </sql>

  <select id="permissionIdList" resultType="java.lang.Long">
    select t1.permission_id from sys_role_permission t1
    inner join sys_permission t2 ON t1.permission_id = t2.id
    <where>
      <if test="roleId != null">
        and t1.role_id = #{roleId}
      </if>
      <if test="menuId != null">
        and t2.menu_id = #{menuId}
      </if>
    </where>
  </select>
</mapper>